@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="">
    <meta name="author" content="">
    <title>HH | Himalayan Holidays</title>
    <!-- core CSS -->
    <link href="/Contents/Styles/bootstrap.min.css" rel="stylesheet">
    <link href="/Contents/Styles/font-awesome.min.css" rel="stylesheet">
    <link href="/Contents/Styles/prettyPhoto.css" rel="stylesheet">
    <link href="/Contents/Styles/animate.min.css" rel="stylesheet">
    <link href="/Contents/Styles/main.css" rel="stylesheet">
    <link href="/Contents/Styles/responsive.css" rel="stylesheet">
    <link href="/Contents/Styles/mobilemenu.css" rel="stylesheet" />
    <link href="/Contents/Styles/search.css" rel="stylesheet" />

    <!--[if lt IE 9]>
        <script src="/Contents/Scripts/html5shiv.js"></script>
        <script src="/Contents/Scripts/respond.min.js"></script>
    <![endif]-->
    @*<title>@Html.Sitecore().Field("title", new { DisableWebEdit = true })</title>*@
    @Html.Sitecore().VisitorIdentification()
</head>
<body>
    <header id="header">
        <div class="top-bar navbar navbar-default" role="navigation" data-top="0" data-scroll="100">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="top-number">
                            <p><i class="fa fa-phone-square"></i> +0123 456 70 90</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6 pull-right">
                        @Html.Sitecore().ViewRendering("~/Views/Renderings/HimalayanHolidays/SocialMenu.cshtml")
                    </div>
                </div>
                <!--/.container-->
            </div>
            <!--/.top-bar-->
        </div>

        <div id="stuck_container" class="stuck_container">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-2 pull-left">
                        @Html.Sitecore().ViewRendering("~/Views/Renderings/HimalayanHolidays/Logo.cshtml")
                    </div>
                    <div class="col-md-8 col-sm-10 pull-right">
                        @Html.Sitecore().ViewRendering("~/Views/Renderings/HimalayanHolidays/PrimaryMenu.cshtml")

                    </div>
                </div>

                <!--/nav-->
            </div>
        </div>
    </header>
    <!--/header-->
    <section id="landing">
        <div class="container-fluid">
            <!-- about us slider -->
            @Html.Sitecore().ViewRendering("~/Views/Renderings/HimalayanHolidays/Carousel.cshtml")
        </div>
        <!--/#about-slider-->
    </section>
    <section>
        <div class="container">
            <!-- Our Skill -->
            <div class="skill-wrap clearfix">
                <div class="container">
                    <!-- Our Skill -->
                    @Html.Sitecore().ViewRendering("~/Views/Renderings/HimalayanHolidays/FeaturedBike.cshtml")
                </div>
            </div>
        </div>
    </section>
    <!--/nav-->
   
    
    
    <!--/header-->
   
    <section>
        <div class="container">
            <!--/.our-skill-->
            <!-- our-team -->
            @Html.Sitecore().ViewRendering("~/Views/Renderings/HimalayanHolidays/HappyCustomers.cshtml")
            <!--section-->
        </div>
        <!--/.container-->
    </section>
    <section>
        <div class="container">

            <div class="news-testimonial padding-top0">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12 ">
                        @Html.Sitecore().ViewRendering("~/Views/Renderings/HimalayanHolidays/NewsLetter.cshtml")
                    </div>
                    <!--/.col-lg-4 -->
                    <!--/.col-lg-4 -->
                    <!--/.row -->
                    <!--skill_border-->
                    <div class="col-md-6 col-sm-6 col-xs-12 ">
                        <div class=" wow fadeInDown" data-wow-duration="1200ms" data-wow-delay="400ms">
                            @Html.Sitecore().ViewRendering("~/Views/Renderings/HimalayanHolidays/Testimonials.cshtml")
                        </div>
                    </div>
                </div>
                <div class="row clearfix"> </div>

                <!--/.row-->
            </div>


            <!--section-->
        </div>
        <!--/.container-->
    </section>

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-3 col-xs-12">
                    @Html.Sitecore().ViewRendering("~/Views/Renderings/HimalayanHolidays/Copyright.cshtml")
                </div>
                <div class="col-md-5 col-sm-7 col-xs-12">
                    @Html.Sitecore().ViewRendering("~/Views/Renderings/HimalayanHolidays/FooterMenu.cshtml")
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12">
                    <a class="navbar-brand" href="Home.html"><img src="images/HH/hhlogo.PNG" alt="logo" class="img-responsive"></a>
                </div>
            </div>
        </div>
    </footer>

    @Html.Sitecore().ViewRendering("~/Views/Renderings/HimalayanHolidays/Search.cshtml")
    <script src="~/Contents/Scripts/jquery.js"></script>
    <script src="~/Contents/Scripts/bootstrap.min.js"></script>
    <script src="~/Contents/Scripts/jquery.prettyPhoto.js"></script>
    <script src="~/Contents/Scripts/jquery.isotope.min.js"></script>
    <script src="~/Contents/Scripts/main.js"></script>
    <script src="~/Contents/Scripts/wow.min.js"></script>
    <script src="~/Contents/Scripts/Mobilemenu.js"></script>
    <script src="~/Contents/Scripts/custom.js"></script>
    <script src="~/Contents/Scripts/search.js"></script>
    <script src="~/Contents/Scripts/validation.js"></script>

    <script>
        (function () {
            var hsearch = document.getElementById('hsearch');
            if (hsearch != null && hsearch != 'undefined') {

                input = hsearch.querySelector('input.hsearch-input'),
                    ctrlClose = hsearch.querySelector('span.hsearch-close'),
                    isOpen = isAnimating = false,
                    // show/hide search area
                    toggleSearch = function (evt) {
                        // return if open and the input gets focused
                        if (evt.type.toLowerCase() === 'focus' && isOpen) return false;

                        var offsets = hsearch.getBoundingClientRect();
                        if (isOpen) {
                            classie.remove(hsearch, 'open');

                            // trick to hide input text once the search overlay closes
                            // todo: hardcoded times, should be done after transition ends
                            if (input.value !== '') {
                                setTimeout(function () {
                                    classie.add(hsearch, 'hideInput');
                                    setTimeout(function () {
                                        classie.remove(hsearch, 'hideInput');
                                        input.value = '';
                                    }, 300);
                                }, 500);
                            }

                            input.blur();
                        }
                        else {
                            classie.add(hsearch, 'open');
                        }
                        isOpen = !isOpen;
                    };

                // events
                input.addEventListener('focus', toggleSearch);
                ctrlClose.addEventListener('click', toggleSearch);
                // esc key closes search overlay
                // keyboard navigation events
                document.addEventListener('keydown', function (ev) {
                    var keyCode = ev.keyCode || ev.which;
                    if (keyCode === 27 && isOpen) {
                        toggleSearch(ev);
                    }
                });


                /***** for demo purposes only: don't allow to submit the form *****/
                hsearch.querySelector('button[type="submit"]').addEventListener('click', function (ev) { ev.preventDefault(); });

            }

        })();
    </script>
</body>
</html>