@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics
@using Sitecore.Data.Items
@using Sitecore.Data.Fields
@model RenderingModel
@{
    Item theFeaturedBikes = Sitecore.Context.Database.GetItem("{999AA80D-E91A-4E36-9048-A24CE3C60786}");
}
<div class="skill-wrap clearfix">
    <div class="center wow fadeInDown">
        <h2 class="text-upper">@Html.Sitecore().Field("Title", theFeaturedBikes)</h2>
        <p class="lead">
            @Html.Sitecore().Field("Text",theFeaturedBikes)
           
        </p>
        <div class="row clearfix">
            @foreach (Item theFeaturedBike in ((MultilistField)theFeaturedBikes.Fields["Featured Bike List"]).GetItems())
            {
                <div class="col-md-6 col-sm-6 col-xs-12 cont-col-inner">
                    <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <h2 class="title-bg">@Html.Sitecore().Field("Summary Title",theFeaturedBike)</h2>
                        <div class="media">
                            <div class="pull-center">
                                <a href="HolidayDetails.html">
                                    @Html.Sitecore().Field("Image", theFeaturedBike, new {@class="img-responsive" })
                               
                                    <span class="cherry-quick-view">Quick view</span>
                                </a>
                            </div>
                            <h5>@Html.Sitecore().Field("Bike Full Name", theFeaturedBike)</h5>

                        </div>
                        <!--/.media -->
                        <p>
                            @Html.Sitecore().Field("Summary Text", theFeaturedBike)
                        </p>
                    </div>
                </div>
            }

            
        </div>
    </div>
</div>